<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>f1nd the d0g's name</title>
</head>

<body>
    <!-- dog img -->
    <h3>If u find the dog's name, I'll give you the flag!!!!</h3>
    <input type="text" id="inputText" placeholder="Enter text">
    <br>
    <button type="submit" onclick="sendRequest()">Submit</button>

    <script>
        function sendRequest() {
            // 입력 값 가져오기
            const inputValue = document.getElementById('inputText').value;

            // 서버로 fetch POST 요청 보내기
            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username: "dog",
                    password: inputValue // 입력한 값 전송
                })
            })
            .then(response => response.text())
            .then(data => {
                // 서버 응답 처리
                console.log('Success:', data);
                alert('Request Successful!');
            })
            .catch((error) => {
                // 에러 처리
                console.error('Error:', error);
                alert('Request Failed!');
            });
        }
    </script>
</body>

</html>
